$primary: #4066cb;
$secondary: #fed600;
$info: #f8f8f8;
$success: #23f07c;
$alert:#f04649;
$content:#212b36;
$text-muted: #d6d6d6;
$heading-grey:#001243;
$navy-blue:#001243;
$orange:#f4871b;
$sub-heading: #232020;
$border-color:#c1c1c1;
$grey-color:#c2c2c2;
$blue:#0d3dbe;
$twilight-blue:#072b7e;
$blueblue:#1a46c5;
$dark-grey:#001243;
$azure:#22b2f2;
$inputbg:#313579;
$white:#ffffff;
$images-path: "../images" !default;
$font-path: "../fonts" !default;
$icomoon-font-family: "icomoon" !default;
$basefont:'Spartan', sans-serif;
$white: #fff;
$blueBorder:#80a0c9;
$black:#000000;
//$grid-gutter-width: 40px;

$ring-red: #f96d67;
$ring-yellow: #fed900;
$ring-green: #77c14a;
$ring-blue: #1cbce1;


